apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: skiff
  name: skiff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: skiff
  template:
    metadata:
      labels:
        app: skiff
    spec:
      volumes:
        - name: web-data
          emptyDir: {}
      initContainers:
        - image: alpine/git
          name: git-init
          args:
            - clone
            - -b
            - $(GIT_BRANCH)
            - $(GIT_URL)
            - .
          env:
            - name: GIT_BRANCH
              valueFrom:
                configMapKeyRef:
                  name: skiff
                  key: gitBranch
            - name: GIT_URL
              valueFrom:
                secretKeyRef:
                  name: skiff
                  key: gitUrl
          volumeMounts:
            - name: web-data
              mountPath: /git
        - image: alpine/git
          name: git-pull
          restartPolicy: Always
          env:
            - name: UPDATE_INTERVAL
              valueFrom:
                configMapKeyRef:
                  name: skiff
                  key: updateInterval
          command:
            - sh
            - -c
            - while true; do git pull; sleep $(UPDATE_INTERVAL); done
          volumeMounts:
            - name: web-data
              mountPath: /git
      containers:
        - image: nginx
          name: nginx
          imagePullPolicy: always
          livenessProbe:
            httpGet:
              path: /up
              port: 80
          readinessProbe:
            httpGet:
              path: /up
              port: 80
          ports:
            - containerPort: 80
          volumeMounts:
            - name: web-data
              mountPath: /etc/nginx/conf.d
              readOnly: true
              subPath: config
            - name: web-data
              mountPath: /site
              readOnly: true
